<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Weather classification</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="logo.png" class="logo">
            <ul>
                <li><a href="#sec2" >about</a></li>
                <li><a href="#images">images</a></li>
                <li><a href="url('predit')">predict</a></li>
            </ul>
        </div>
        <div class="section">
            <div class="content">
                <h1>Weather Classification using<br>transfer learning </h1>
                <p>Through this project we will be able to classify the type of weather</p>
                <div>
                    <button type="button"><a href="#sec2" style="text-decoration: none; color:#fff;"><span></span>FEW DETAILS</a></button>
                 </div>
           </div>
           <div class="content2" id="sec2">
            <div class="c3">
                <h1>Weather</h1>
                <p>Weather image recognition is a task that involves training a model to recognize and classify different<br>types of weather from images or video frames. This could include identifiying specific weather<br>conditions such as clear, cloudy, rainy, or snowy</p>
                <div>
                    <button type="b1"><span></span><a href="#">TYPES OF WEATHER</a></button>
                </div></div>
           </div>
        </div>    
    </div>
</body>
</html>